body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fuid{
    padding: 3% 15%;
}

h1{
    color: white;
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

h3{
    font-family: "Montserrat-Bold";
}

/* Navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* donwload buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
}


/* features */

#features{
    padding: 7% 15%;
    
}

.features{
    text-align: center;
    padding: 5%s;
}



/* testimonial section  */

#testimonials{
    text-align: center;
    background-color: #ef8172;

}

.h2-testimonial{
    color: #fff;
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing section  */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}