body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fuid{
    padding: 3% 15%;
}

h1{
    color: white;
    font-family: "Montserrat-Black 900" ;
    font-size: 3rem;
    line-height: 1.5;
}